.App-header {
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  border: solid #ffffff;
  width: 80%;
  margin: 0 8% 0 8%;
}
h1 {
  color: #4a4b47;
  background-color: #f9c7c2;
  border: #f9c7c2 solid;
  border-radius: 50%;
  letter-spacing: 3px;
  padding: 2%;
  width: 20%;
  position: relative;
  left: 37%;
  right: 37%;
}
i {
  cursor: pointer;
}
@media only screen and (max-width: 868px) {
  .App-header {
    margin: 0 8% 0 5%;
  }
  h1 {
    width: 50%;
    position: relative;
    left: 20%;
    right: 20%;
  }
}
@media only screen and (max-width: 468px) {
  h1 {
    width: 70%;
    position: relative;
    left: 13%;
    right: 13%;
  }
}
